body {
    background-color: #333;
    color: aliceblue;
    margin: 0;
}

header {
    background-color: #000;
    display: grid;
    place-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100px;
}

#background {
    height: 100px;
    padding: 0;
}

nav {
    margin-top: -20px;
    height: 50px;
    background-color: #555;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: inline-block;
    padding: 16px 40px;

    color: white;
    border-color: black;
    background-color: #555;

    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}


li:last-child {
    border-right: none
}

li a.active {
    background-color: darkcyan;
    color: white;
}

li a:hover:not(.active) {
    background-color: #000;
    color: white;
}

article {
    background-color: #454545;
    width: auto;
}

aside {
    height: 700px;
    width: 500px;
    font-style: italic;
    background-color: lightgray;
}

.on_middle {
    display: grid;
    place-content: center;
    height: 700px;
    margin-left: 70px;
    margin-right: 20px;
    text-align: left;
}

h1 {
    color: white;
    text-align: left;
}

p {
    font-family: sans-serif;
    font-size: 20px;
}

footer {
    display: grid;
    align-items: end;
    background-color: #000;
    width: auto;
    height: 115px;
    text-align: center;
}